//A
//
// User styles
// -----------------------------------------------------------------------------
// NOTE: the following user styles are designed for default theme Curtana

// EXAMPLE: alternative title size
// By default all heading levels have the same font size, but many people may
// not like this, so here's an alternative font size stack:
// .content {
//   h2 { font-size: 108%; opacity: .8; }
//   h3 { font-size: 96%;  opacity: .7; }
//   h4 { font-size: 84%;  opacity: .6; }
//   h5 { font-size: 72%;  opacity: .5; }
//   h6 { font-size: 60%;  opacity: .4; }
// }

// EXAMPLE: alternative post title color
// This is useful when you're using the custom color scheme.
// .content { .list h2 a, header h1, header h1 a { color: var(--link-color); } }
// .external span { background: var(--link-color); }

// EXAMPLE: Custom typography for Chinese Traditional
// :root {
//   --fontstack-sans-serif: "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
//   --fontstack-serif: Georgia, "Hiragino Mincho ProN", serif;
// }

// EXAMPLE: amsf.github.io custom appearance
.content .sub-title {
  font-size: 100%;
  opacity: .8;
}

#search {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 30px;
    height: 60px;
    margin: 0;
    padding: 0;
    line-height: 60px;
}

#search > input {
    margin: 0;
    width: 115px; /* 115px = 160(width) - 15(padding-left) - 30(padding-right) */
    height: 33px;
    border-radius: 17px;
    border: 1px solid #e6e6e6;
    padding: 0 30px 0 15px; /* 30px(right-padding) = 15(right-padding) + 10(icon-width) + 5(@@iolo) */
    font-size: 14px;
    color: #505050;
    background: url(../images/pc/icon_search.png) no-repeat right;
    background-size: 13px 13px;
    background-position-x: 135px; /* 135px = 160 - 15(right-padding) + 10(icon-width) */
}

#search > input:focus {
    outline: none;
    color: #1e1e1e;
}

/** Search result dropdown **/
.search__results {
    display: block;
    background: #fff;
    list-style: none;
    padding: 0px;
    font-size: 14px;
    transition: 0.2s ease;
    position: absolute;
    width: 550px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 2px;
    border: 0;
    z-index: 999; top: 45px; right: 0px;
    line-height: 22px;
}
.search__results.is-hidden {
    opacity: 0;
    transform: translateY(-1vh);
    display: none;
}
.search__results > li {
    border-top: 1px solid #f0f0f0;
    padding: 10px;
}
.search__results > li > a {
    padding: 10px;
}


